/*Master*/
* {
    font-family: 'Nunito', sans-serif;
}  
/* Default.aspx */
.section {
    margin: 20px;
}

.hero-content {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Resources/pexels-jéshoots-238118.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

    .hero-content h1 {
        font-size: 36px;
        font-weight: bold;
    }

.bi-cart {
    font-size: 24px;
    margin-right: 10px;
}

.filter-container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}

.brand-filter h6, .category-filter h6 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

input[type="checkbox"] {
    margin: 10px 0;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

    .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    font-size: 14px;
}

.btn-primary {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.cart-count {
    background-color: #ff6347;
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 16px;
}

.cart-button {
    display: inline-block;
    padding: 10px 20px;
}


    .cart-button i {
        font-size: 24px;
        margin-right: 5px;
    }
/* DetalleArticulo.aspx */
.container {
    display: flex;
}

#imagenContainer {
    width: 900px;
    margin-left: 0.5%;
    margin-top: 7%;
    padding: 10px;
}

.card-img-top1 {
    width: 900px;
    height: 600px;
}

.info-container {
    margin-top: 20%;
    flex: 1;
    padding: 30px;
}

.lblText {
    font-size: 18px;
    font-weight: bold;
    color: #A0D732;
    text-decoration: underline;
}

.lblInfo {
    font-size: 16px;
    font-weight: bold;
    color: #A0A7AD;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
}

    .centered-container div {
        margin: 10px;
    }

/*Carrito.aspx*/
table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

.remove-button {
    background-color: none;
    color: black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.hyperlink {
    margin-left: 3rem;
    text-align: start;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.summary-box {
    text-align: left;
    background-color: #eeeeee;
    height: 400px;
    padding: 2rem;
}

.line {
    border: 0;
    border-top: 1px solid #000;
}

.custom-input {
    background: none;
    color: #999999;
}

.custom-span {
    background: none;
    color: #999999;
}

.panel-span {
    color: #999999;
}
